.navheight{
    height: 70px;
   background-image: linear-gradient(rgb(133, 1, 1),rgb(4, 44, 11));
    
}
.textsize{
    /* background-color: rgb(150, 6, 107); */
    background-image: linear-gradient(rgb(252, 229, 21),rgb(252, 150, 16));
    
    margin-left: 10px;
    margin-right: 20px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: medium;
    font-weight: 700;
    
}
.team{
    border-radius: 2px;
    font-size: medium;
    padding: 3px;
    color:rgb(202, 238, 214);
    background-color:#8a0209;
}
.text-col{
   color:hsl(257, 83%, 7%);
   font-size: x-large;
    font-weight: 700;
}


.parallelogram {
    margin-top: 0px;
    width: 200px;
    height: 55px;
    color: rgb(240, 196, 196);
    margin-left: 2px;
    transform: skew(-20deg);
    background-image: linear-gradient(rgb(250, 196, 17),rgb(218, 117, 3));
  }
.batsman{
    margin-top: -2px;
    font-size: large;
    font-weight: 700;
    color: black;
    transform: skew(20deg);
  }
  
  .batsman1{
    
    font-size: large;
    margin-top: -2px;
    font-weight: 700;
    color: black;
    transform: skew(20deg);
  }
  .runneed{
   
    font-weight: 600;
    font-size: large;
    color: rgb(235, 239, 241);
    
  }

  .parallelogram1 {
    margin-top:-3px;
    width: 200px;
    height: 55px;
    color: rgb(247, 238, 238);
    margin-left: 10px;
   
    background-image: linear-gradient(rgb(133, 1, 1),rgb(4, 44, 11));


  }

  .parallelogram2{
    
    width: 200px;
    height: 55px;
    color: black;
    margin-left: 10px;
   
    background-color:#eca10b;;
    
  }
  .bowler{
      font-size: large;
    margin-top: -4px;
    font-weight: 700;
    color: #250a41;

  }
  .totalover{
    font-size: small;
   
  }
  .hidee{
      
      color:#eca10b;
  }
  .circle{
      
      width: 23px;
      height: 23px;
      float:left;
      border-radius: 50px;
      margin-right: 2px;
      background-color:#250a41;
      color: rgb(238, 246, 253);
  }
  .totalover1{
    font-size: small;
    padding-left: 1px;
    margin-top: 4px;
  }
  .move{
      padding: 5px;
      padding-left: 29px;
  }